<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>JSP Tags</div>
        <hr>
        <br>
        <h2> Declarative Tag -> ( <%! ----- %> )</h2>
        <br>
       
        <br>
        <h2> Scriplet Tag -> ( <% ----- %> )</h2>
         <br>
        
        <br>
        <h2> Expression Tag -> ( <%= ----- %> )</h2>
         <br>
        <hr>
        <br>
         <a href="./jspTag1.jsp" >Go to JSP page</a>
         <br>
        <hr>
        <br>
        <h2>Directive Tag(JSP Directive)</h2>
        <ol>
            <li>Page Directive
                <ol>
                    <li> <a href="./pageDirective.jsp" >Go to Page Directive</a></li>
                    

                </ol>

            </li>
            
            <li>Include Directive</li>
            <li>Taglib Directive</li>
        </ol>
        <br>
        <hr>
        <br>
       
    </body>
</html>
